/* html {
	font-size: 14px;
} */

.bg-muted {
	background-color: #dfdfdf;
}

.bg-main {
	background-color: #abe9cd;
	background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}

.btn-main {
	background-color: #abe9cd;
	background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}

.h7 {
	font-size: .8rem;
}

.no-text-decoration {
	text-decoration: none;
}

/* Header */
.h-50px {
	height: 50px;
}

/* Aside */
.main-aside {
	height: calc(100vh - 50px);
}

/* Main */
.main-content {
	height: calc(100vh - 50px);
	overflow: auto;
}
